<<<<<<< HEAD
* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background: url(assets/freedom.jpg) no-repeat center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.box {
  position: absolute;
  top: 15%;
  margin: 0 4rem;
  text-align: center;
}

.p2 {
  font-family: 'Crimson Text', serif;
  padding-top: 3rem;
  font-size: 1.4rem;
}

.p1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.4rem;
  letter-spacing: .1rem;
  line-height: 1.6;
}
=======

>>>>>>> 17635139de34bca28752073c97f24cfbca4e0064
